


.introContainer {
   width: 800px;
   height: 80px;
   padding: 5px 5px 5px 5px;
   border: solid 2px black;
   background-color: antiquewhite;
   position: relative;
   font-size: 26pt;
   text-align: center;
   margin: auto;
}
