.introContainer {
   width: 80%;
   height: 100px;
   padding: 5px 5px 5px 5px;
   border: solid 2px black;
   background-color: antiquewhite;
   position: relative;
   font-size: 30pt;
   text-align: center;
   margin: auto;
}

.body {
    width: 75%;
    height: 700px;
    padding: 5px 5px 5px 5px;
    border: solid 2px black;
    background-color: lightgray;
    position: relative;
    font-size: 14pt;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    
}

